<!DOCTYPE html>
<html lang="en">

<%- include('../header/header.ejs') %>

<body class="">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="tim-icons icon-align-center"></i>
                            <p>Início</p>
                        </a>
                    </li>
                    <% if (logged) { %>
                    <li>
                        <a href="/profile">
                            <i class="tim-icons icon-single-02"></i>
                            <p>Meu Perfil</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/find">
                            <i class="tim-icons icon-zoom-split"></i>
                            <p>Procurar usuário</p>
                        </a>
                    </li>
                    <% } else { %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <%- include('../partials/navbar.ejs') %>
            <div class="content">
                <div class="row">
                    <div class="col-lg-18 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Procurar um usuário</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome de usuário" id="name">
                                </div>
                                <button type="submit" class="btn btn-fill btn-primary" id="search">Procurar</button>
                            </div>
                        </div>
                        <div id="card">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script>
    <script src="/assets/js/helper.js"></script>
</body>

</html>